<!--&lt;!&ndash;<main class="main">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-card-input></app-card-input>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</main>&ndash;&gt;-->


<!--&lt;!&ndash;<router-outlet />&ndash;&gt;-->
<!--<mat-toolbar color="primary">-->
<!--  <span>Combinação de Cartas</span>-->
<!--  <span class="example-spacer"></span>-->
<!--</mat-toolbar>-->

<!--<div class="content">-->
<!--  <mat-tab-group>-->
<!--    <mat-tab label="MVPS">-->
<!--      <ng-template matTabContent>-->
<!--        <app-card-input (mvp)="renderMvp($event)"></app-card-input>-->

<!--        @if (mvp) {-->
<!--          <mat-card class="example-card" appearance="outlined">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title-group>-->
<!--                <mat-card-title>{{mvp.name}}</mat-card-title>-->
<!--                <mat-card-subtitle>-->
<!--                  <mat-chip-set aria-label="Fish selection">-->
<!--                    <mat-chip>{{mvp.race}}</mat-chip>-->
<!--                    <mat-chip>{{mvp.size}}</mat-chip>-->
<!--                    <mat-chip>{{mvp.element}}</mat-chip>-->
<!--                  </mat-chip-set>-->
<!--                </mat-card-subtitle>-->
<!--                @if (mvp.thumbnailUrl) {-->
<!--                  <img mat-card-sm-image [src]="mvp.thumbnailUrl"  alt="">-->
<!--                }-->
<!--              </mat-card-title-group>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              {{ mvp.tips }}-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->

<!--          <mat-grid-list class="equipments" cols="4" rowHeight="200px">-->
<!--            @for (item of equipmentsCards; track item; let idx = $index, e = $even) {-->
<!--              <mat-grid-tile style="overflow: auto">-->
<!--                <mat-card class="equipment-card" appearance="outlined">-->
<!--                  <mat-card-content>-->

<!--                      {{item.title}}-->

<!--&lt;!&ndash;                        <pre>{{mvp.recommended_cards[item.attribute] | json}}</pre>&ndash;&gt;-->
<!--                        @if (mvp.recommended_cards[item.attribute]) {-->
<!--                          <mat-form-field>-->
<!--                            <mat-select [(value)]="equipmentsCards[idx].selected">-->
<!--                              <mat-option></mat-option>-->
<!--                              @for (option of mvp.recommended_cards[item.attribute]; track option) {-->
<!--                                <mat-option [value]="option.option">Opção {{ option.option }} - ({{option.description.join("|")}})</mat-option>-->
<!--                              }-->
<!--                            </mat-select>-->
<!--                          </mat-form-field>-->

<!--                          <pre>{{mvp.recommended_cards[item.attribute] | json}}</pre>-->
<!--                        }-->
<!--&lt;!&ndash;                        @if (equipmentsCards[idx].selected !== null) {&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <p>You selected: {{mvp.recommended_cards[item.attribute][Number(equipmentsCards[idx].selected) -1] | json}}</p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          @for (card of mvp.recommended_cards[item.attribute][Number(equipmentsCards[idx].selected) -1].cards; track card;) {&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <li>{{card | json}}</li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          <mat-card class="example-card" appearance="outlined">&ndash;&gt;-->
<!--&lt;!&ndash;                            <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;                              <mat-card-title-group>&ndash;&gt;-->
<!--&lt;!&ndash;                                <mat-card-title>{{card}}</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;                                <mat-card-subtitle>Small</mat-card-subtitle>&ndash;&gt;-->
<!--&lt;!&ndash;                                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >&ndash;&gt;-->
<!--&lt;!&ndash;                              </mat-card-title-group>&ndash;&gt;-->
<!--&lt;!&ndash;                            </mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;                            <mat-card-content>&ndash;&gt;-->

<!--&lt;!&ndash;                            </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;                          </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;                          }&ndash;&gt;-->
<!--&lt;!&ndash;                        }&ndash;&gt;-->
<!--                  </mat-card-content>-->
<!--                </mat-card>-->
<!--              </mat-grid-tile>-->
<!--            }-->
<!--          </mat-grid-list>-->
<!--        }-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="Lista de MVPs">-->
<!--      <ng-template matTabContent>-->
<!--        <table mat-table-->
<!--               [dataSource]="dataSource" multiTemplateDataRows-->
<!--               class="mat-elevation-z8">-->
<!--          @for (column of columnsToDisplay; track column) {-->
<!--            <ng-container matColumnDef="{{column}}">-->
<!--              <th mat-header-cell *matHeaderCellDef> {{column}} </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>-->
<!--            </ng-container>-->
<!--          }-->
<!--          <ng-container matColumnDef="expand">-->
<!--            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">-->
<!--                @if (expandedElement === element) {-->
<!--                  <mat-icon>keyboard_arrow_up</mat-icon>-->
<!--                } @else {-->
<!--                  <mat-icon>keyboard_arrow_down</mat-icon>-->
<!--                }-->
<!--              </button>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column that spans across all columns &ndash;&gt;-->
<!--          <ng-container matColumnDef="expandedDetail">-->
<!--            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">-->
<!--              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--                <div class="element-diagram">-->
<!--                  <img [src]="element.thumbnailUrl" class="image-mvp">-->
<!--                </div>-->
<!--                <div class="example-element-description">-->
<!--                  {{element.tips}}-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>-->
<!--          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"-->
<!--              class="example-element-row"-->
<!--              [class.example-expanded-row]="expandedElement === element"-->
<!--              (click)="expandedElement = expandedElement === element ? null : element">-->
<!--          </tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
<!--        </table>-->

<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="Cinto de Cartas">-->
<!--      <ng-template matTabContent>-->
<!--        Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}-->

<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--</div>-->
<!--<main class="main">-->
<!--  <div class="content">-->
<!--      <app-card-input></app-card-input>-->
<!--  </div>-->
<!--</main>-->


<!--<router-outlet />-->
<mat-toolbar color="primary">
  <span>Combinação de Cartas</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="content">
  <mat-tab-group>
    <mat-tab label="MVPS">
      <ng-template matTabContent>
        <app-card-input (mvp)="renderMvp($event)"></app-card-input>

        @if (mvp) {
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{mvp.name}}</mat-card-title>
                <mat-card-subtitle>
                  <mat-chip-set aria-label="Fish selection">
                    <mat-chip>{{mvp.race}}</mat-chip>
                    <mat-chip>{{mvp.size}}</mat-chip>
                    <mat-chip>{{mvp.element}}</mat-chip>
                  </mat-chip-set>
                </mat-card-subtitle>
                @if (mvp.thumbnailUrl) {
                  <img mat-card-sm-image [src]="mvp.thumbnailUrl"  alt="">
                }
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              {{ mvp.tips }}
            </mat-card-content>
          </mat-card>

          <div class="equipments">
            @for (item of equipmentsCards; track item; let idx = $index, e = $even) {
                <mat-card class="equipment-card" appearance="outlined">
                  <mat-card-title>
                    {{item.title}}
                  </mat-card-title>
                  <mat-card-content>
                    @if (mvp.recommended_cards[item.attribute]) {
                      @for (opt of mvp.recommended_cards[item.attribute]; track opt;) {
                        <mat-divider></mat-divider>
                        <div>
<!--                          <pre>{{opt | json}}</pre>-->
                          <p>Opção {{opt.option}}</p>
                          <small>Tipo: {{opt.description.join(' | ')}}</small>
                          <mat-divider></mat-divider>
                          <div>
                          @for (cardName of opt.cards; track cardName) {
<!--                            <pre>{{getUrlCard(cardName) | json}}</pre>-->
                            <img [src]="getUrlCard(cardName, item.attribute)">
                          }
                            </div>
                        </div>
                      }
                    }
                  </mat-card-content>
                </mat-card>
            }
          </div>
        }
      </ng-template>
    </mat-tab>
    <mat-tab label="Lista de MVPs">
      <ng-template matTabContent>
        <table mat-table
               [dataSource]="dataSource" multiTemplateDataRows
               class="mat-elevation-z8">
          @for (column of columnsToDisplay; track column) {
            <ng-container matColumnDef="{{column}}">
              <th mat-header-cell *matHeaderCellDef> {{column}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
          }
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                @if (expandedElement === element) {
                  <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                  <mat-icon>keyboard_arrow_down</mat-icon>
                }
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-diagram">
                  <img [src]="element.thumbnailUrl" class="image-mvp">
                </div>
                <div class="example-element-description">
                  {{element.tips}}
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

      </ng-template>
    </mat-tab>
    <mat-tab label="Cinto de Cartas">
      <ng-template matTabContent>

        <mat-card>
          <mat-card-title>
            <h3>Agrupamentos de monstros por raça e tamanho</h3>
          </mat-card-title>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput (keyup)="applyFilterBelt($event)" placeholder="Ex. Set 1, AnjoMédio, Angeling">
            </mat-form-field>
            <table mat-table [dataSource]="dataSourceCardBelt">

              <!-- Set Column -->
              <ng-container matColumnDef="set">
                <th mat-header-cell *matHeaderCellDef> Combinação </th>
                <td mat-cell *matCellDef="let element"> {{element.set}} </td>
              </ng-container>

              <!-- Race and Size Column -->
              <ng-container matColumnDef="raceAndSize">
                <th mat-header-cell *matHeaderCellDef> Raça e Tamanho </th>
                <td mat-cell *matCellDef="let element"> {{element.raceAndSize}} </td>
              </ng-container>

              <!-- Monsters Column -->
              <ng-container matColumnDef="monsters">
                <th mat-header-cell *matHeaderCellDef> MVPs/Eventos </th>
                <td mat-cell *matCellDef="let element"> {{element.monsters}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            Total de monstros abrangidos pelos 15 sets: 34
          </mat-card-content>
        </mat-card>
        <!-- monster-table.component.html -->


      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
